<h2>{{_signForForm}} notice</h2>
<div class="container" *ngIf="_noticeForm">
  <form [formGroup]="_noticeForm" (ngSubmit)="onSubmit(_noticeForm)">
    <div class="form-group">
      <md-input-container>
        <input mdInput placeholder="Text a notice" formControlName="name" required>
      </md-input-container>
    </div>
    <div class="form-group">
      <md-select placeholder="Status" [(ngModel)]="selectedValue" formControlName="status" required>
        <md-option *ngFor="let status of getNameFromEnum()" [value]="status">
          {{status}}
        </md-option>
      </md-select>
    </div>
    <md-input-container>
      <input mdInput type="number" placeholder="Priority" formControlName="priority" required>
    </md-input-container>
    <button md-icon-button (click)="goBack()" mdTooltip="cancel" mdTooltipPosition="above" color="warn"><md-icon>cancel</md-icon></button>
    <button md-icon-button value="Save" [disabled]="_noticeForm.invalid" mdTooltip="save" mdTooltipPosition="above" color="primary"><md-icon>save</md-icon></button>
  </form>
</div>