<div class="demo-data-table" style="overflow-x:auto;">
  <div class="card">
    <div class="header">
      <h3 class="title">Table of tasks</h3>
    </div>
    <div class="content">

      <button md-icon-button (click)="createNotice()" mdTooltip="create a new notice" mdTooltipPosition="above"><md-icon>add</md-icon></button>
      <button md-icon-button (click)="refresh()" mdTooltip="refresh the table" mdTooltipPosition="above"><md-icon>refresh</md-icon></button>
      <button md-icon-button (click)="editNotice(); _disableButton = false;" [disabled]="_disableButton" mdTooltip="edit" mdTooltipPosition="above"
        color="theme"><md-icon>edit</md-icon></button>
      <button md-icon-button (click)="deleteNotice(); _disableButton = false;" [disabled]="_disableButton" mdTooltip="delete" mdTooltipPosition="above"
        color="accent"><md-icon>delete</md-icon></button>

      <table [md2Data]="_notices | statusPipe : selectedValue" #md2="md2DataTable" [rowsPerPage]="10">
        <thead>
          <tr>
            <td>
              <input placeholder="Filter name" class="md2-input" [(ngModel)]="searchName" />
            </td>
            <td>
              <md-select [(ngModel)]="selectedValue" name="status">
                <md-option [value]="status">
                  All items
                </md-option>
                <md-option *ngFor="let status of getNameFromEnum()" [value]="status">
                  {{status}}
                </md-option>
              </md-select>
            </td>
          </tr>
          <th md2SortBy="name">Name</th>
          <th md2SortBy="status">Status</th>
          <th md2SortBy="priority">Priority</th>
        </thead>
        <tbody>
          <tr *ngFor="let notice of md2.data | namePipe : searchName" (click)="setCurrentNotice(notice); _disableButton=false;">
            <td>{{ notice.name }}</td>
            <td [ngSwitch]="notice.status" (click)="openStatusChoise(notice);">
              <md-icon *ngSwitchCase="Canceled" class="material-icons canceled" mdTooltip="canceled" mdTooltipPosition="above">{{ convertStatusToIcon(notice.status) }}</md-icon>
              <md-icon *ngSwitchCase="Pendind" class="material-icons pending" mdTooltip="pending" mdTooltipPosition="above">{{ convertStatusToIcon(notice.status) }}</md-icon>
              <md-icon *ngSwitchCase="Done" class="material-icons done" mdTooltip="done" mdTooltipPosition="above">{{ convertStatusToIcon(notice.status) }}</md-icon>
              <md-icon *ngSwitchDefault mdTooltip="done" mdTooltipPosition="above">{{ convertStatusToIcon(notice.status) }}</md-icon>
            </td>
            <td (click)="startChangePriority(notice); ">
              <div *ngIf="!notice.showpriority">
                <button (blur)="saveChangePriority(notice)" md-icon-button (click)="changePriority(-1, notice)" mdTooltip="Reduce priority"
                  mdTooltipPosition="above">
                  <md-icon class="material-icons down">remove</md-icon>
                  </button> {{ notice.priority }}
                <button (blur)="saveChangePriority(notice)" md-icon-button (click)="changePriority(1, notice)" mdTooltip="Add priority" mdTooltipPosition="above">
                  <md-icon class="material-icons up">add</md-icon>
                  </button>
              </div>
              <div *ngIf="notice.showpriority">{{ notice.priority }}</div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <md2-pagination [rowsPerPageSet]="[5,10,15]"></md2-pagination>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>