@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
.material-icons.pending { color: darkorange; }
.material-icons.canceled { color: red; }
.material-icons.done { color: darkgreen; }
.material-icons.down { color: red; }
.material-icons.up { color: darkgreen; }