<h1>
  {{title}}
</h1>
<!--<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side">
    <md-toolbar>
      <span>First Row</span>
      <md-toolbar-row>
        <span>Second Row</span>
      </md-toolbar-row>
      <md-toolbar-row>
        <span>Third Row</span>
      </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span>My App</span>
  </md-toolbar>
  <div class="margin-left-right-50">
    <div>
      <h3 class="primary-color">
        Snackbar displaying string
      </h3>
    </div>
    <div>
      <button md-raised-button color="primary" (click)="openSnackBar()">Click to see snack bar</button>
    </div>
    <div>
      <h3 class="primary-color">
        Snackbar displaying component
      </h3>
    </div>
    <div>
      <button md-raised-button color="primary" (click)="openSnackBarComponent()">Click to see snack bar</button>
    </div>
    <h3 class="primary-color">
      Stacked Toolbar
    </h3>
  </div>

</md-sidenav-container>-->
<router-outlet></router-outlet>