<!--<button md-icon-button (click)="changePriority(-1)" mdTooltip="Reduce priority" mdTooltipPosition="above" ><md-icon class="material-icons down">remove</md-icon></button>
<button md-icon-button (click)="changePriority(1)" mdTooltip="Add priority" mdTooltipPosition="above"><md-icon class="material-icons up">add</md-icon></button>-->
<a color="white">"New priority saved!" <md-icon class="material-icons up">star</md-icon>
    <!--<button md-icon-button (click)="refresh" mdTooltip="refresh" mdTooltipPosition="above"><md-icon class="material-icons up">refresh</md-icon></button>-->
</a>